@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

#root{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100vw;
}

body {
	width: 100vw;
	font-family: var(--font-primary); // шрифт
	color: var(--color-text); // цвет текста
	font-weight: 400;
	text-wrap: balance;
	transition: all 200ms linear;
	overflow-x: hidden;
	background-color: var(--color-body); // цвет фона
}

img {
	max-width: 100%;
	display: block;
}


a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
