:root {
	// container var
	--container-width: 1190px;
	--container-padding: 15px;
	// fonts var
	--font-primary: "Nunito", sans-serif;
	// colors var
	

	/* основной фоновый цвет */
	--color-white: #fff; 		
	--color-black: #000000;
	--color-body: #2b2828;
	--color-text: #fff;
	

	// rounded var
	--rounded-sm: 4px;						
	--rounded-md: 8px;
	--rounded-lg: 12px;
	--rounded-xl: 16px;
}


